:root{
    --pink:#78156b; 
    --black:#252a34;
    --bluelight:#15a4bc;
    --white:#eaeaea;
    --title:35px;
    --text:19px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'sans-serif';
    background-color: #f6f2f2;
    overflow-x: hidden;
    color: rgb(136, 29, 104);
  }
  #inicio{
    position:relative;
    width: 100%;
}
.menu{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:100px;
    background-color: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.container {
    display: flex; 
    align-items: center;
}

.container .logo {
    width: 100px;
    height: 100px; 
    margin-right: 10px;
    background: url(../imagenes/logotipo.jpg) center/contain no-repeat;;
}
.container .logo h1 a{
    text-decoration: none;
    font-size: 50px;
    font-weight: 100;
    color: var(--pink);
    margin: 0;
}


.menu .lista-conten{
    margin-right: 20px;
}

.menu .lista-conten ul{
    display: flex;
}
.menu .lista-conten ul li{
    list-style: none;
}
.menu .lista-conten ul li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    font-size: 16px;
    border-radius: 24px;
    transition: 0.3s;
}
.menu .lista-conten ul li a:hover{
    background-color: var(--pink);
    color:#fff;
}
.menu .lista-conten ul li a.activo{
    background-color: var(--pink);
    color:#fff;
}
.nnosotros{
    width: 100%;
    margin-top: 120px;   
}
.nnosotros .nn-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.nnosotros .nn-container h2{
    font-size: 3rem;
    font-style: 400;
    color: rgb(98, 10, 85);
    text-align: center;
    margin-top: 20px;
}
.nnosotros .nn-container p{
    text-align: center;
    font-size: 1rem;
    color: rgb(98, 10, 85);
    line-height: 35px;
    margin: 10px 0;
}
.nnosotros .nn-container .nn-galeria{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.nnosotros .nn-container .nn-galeria img{
    width: calc(100% - 100px);
    height: 700px;
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.nnosotros .nn-container .n-boton{
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 1.2ren;
    background-color:var(--pink);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin: auto;
}
.nnosotros .nn-container .n-boton:hover{
    background-color: var(--bluelight);
}

.redes-sociales {
    position: flex;
    bottom: 0;
    left: 0; 
    width: 100%; 
    padding: 10px; 
    display: flex; 
  }
  
  .redes-sociales a {
    margin-right: 10px; 
  }
  
  .redes-sociales img {
    width: 50px;
    height: auto;
  }
  
 
  footer:last-child .redes-sociales {
    display: flex;
  }
  .redes-sociales img:hover {
    transform: scale(1.4);
  }