:root{
    --pink:#78156b; 
    --black:#252a34;
    --bluelight:#15a4bc;
    --white:#eaeaea;
    --title:35px;
    --text:19px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'sans-serif';
    background-color: #2a2828;
    overflow-x: hidden;
    color: rgb(136, 29, 104);
  }
  #inicio{
    position:relative;
    width: 100%;
}

.menu{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:100px;
    background-color: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.container {
    display: flex; 
    align-items: center;
}

.container .logo {
    width: 100px; 
    height: 100px; 
    margin-right: 10px;
    background: url(../imagenes/logotipo.jpg) center/contain no-repeat;;
}
.container .logo h1 a{
    text-decoration: none;
    font-size: 50px;
    font-weight: 100;
    color: var(--pink);
    margin: 0;
}


.menu .lista-conten{
    margin-right: 20px;
}

.menu .lista-conten ul{
    display: flex;
}
.menu .lista-conten ul li{
    list-style: none;
}
.menu .lista-conten ul li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    font-size: 16px;
    border-radius: 24px;
    transition: 0.3s;
}
.menu .lista-conten ul li a:hover{
    background-color: var(--pink);
    color:#fff;
}
.menu .lista-conten ul li a.activo{
    background-color: var(--pink);
    color:#fff;
}
  .proyectos {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../imagenes/principal.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 100px;
    overflow: hidden;
  }
  
  .proyectos .degr-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
  }
  
  .proyectos .ejez {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .proyectos .p-container {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    text-align: center; 
  }
  
  .proyectos .p-container .p-title {
    border: 2px solid #fff;
    padding: 10px;
    text-align: center;
    width: 100%; 
    margin: auto;
  }
  
  .proyectos .p-container .p-title h2 {
    font-size: 2rem;
    color: #fff;
  }
  
  .proyectos .p-container .p-title hr {
    border-left-color: #fff;
    width: 50%;
    height: 3px;
    margin: 10px auto;
  }
  
  .proyectos .p-container .p-galeria {
    width: 100%;
    display: inline-block; 
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-bottom: 100px;
}
  
  .proyectos .p-container .p-galeria img {
    width: 300px; 
    height: 500px;
    margin: 80px; 
    border-radius: 60px;
    cursor: pointer;
    object-fit: cover;
    transition: 1.0s ease;
  }
  
  .proyectos .p-container .p-galeria img:hover {
    transform: scale(1.4); 
  }
  .redes-sociales {
    position: flex;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    padding: 10px; 
    display: flex; 
  }
  
  .redes-sociales a {
    margin-right: 10px; 
  }
  
  .redes-sociales img {
    width: 50px; 
    height: auto;
  }
  
  
  footer:last-child .redes-sociales {
    display: flex;
  }
  .redes-sociales img:hover {
    transform: scale(1.4); 
  }
  
  